notepad .gitignore


venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3
.env
.venv


.idea/
.vscode/
*.iml


frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.log


.DS_Store
Thumbs.db


# Node
node_modules/
package-lock.json
package.json
frontend/package-lock.json
frontend/package.json
frontend/node_modules/